header{
    border-bottom: solid 1px #000;
    position: relative;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

header input{
    position: absolute;
    right: 0;
}


#main{
    float: left;
}

#calendar-head{
    text-align: center;
    padding:  10px 0;
}

#calendar-head #calendar-month{
    font-size: 30px;

}


#wrapper{
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 800px;
    min-height: 500px;
}

#detail-panel{
    /*display: none;*/
    height: 500px;
    width: 300px;
    background: #efefef;
    /*border: solid 1px #000;*/
    float: left;
    padding: 5px;
    /*position: fixed;*/
}

#detail-panel .event{
    margin: 5px 0;
    border-bottom: solid 1px #ccc;
    position: relative;
}

#detail-panel .event .event-time{
    font-size: 14px;
    display: block;
    width: 120px;
}


#detail-panel .event .event-tag{
    font-size: 14px;
    display: block;
    width: 120px;
}


#detail-panel .event .event-title{
    display: inline-block;
}

#detail-panel .event .event-action{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
}

#detail-panel #add-event{
    background: #999;
}


#detail-panel #add-event input[type=number]{
    width: 50px;
}

#popover{
    /*display: none;*/
    height: 100px;
    width: 200px;
    background: #ccc;
    border: solid 1px #000;
    float: left;
    /*position: fixed;*/
}
#logout{
    display: none;
}

table, th, td {
   border: 1px solid black;
   vertical-align: top;
   text-align: left;
} 



.cell {
    height: 80px;
    width: 100px;
}

.cell .date {
    font-size: 20px;
    padding: 0 5px;
}

.cell .events{
    font-size: 10px;
}
.cell ul{
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.empty {
    background: #ddd;
}

.evtlist {
    width: 100px;
    list-style-type: none;
}